button.slick-next {
  &::before {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -80px;
    background: #eee;
    content: "\276F";
    color: gray;
    font-size: 30px;
    z-index: 1;
  }
}
button.slick-prev {
  z-index: 1;
  &::before {
    margin-left: 20px;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eee;
    content: "\276E";
    color: gray;
    font-size: 30px;
    z-index: 1;
  }
}
